<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: taghead"></head>
<body>
    <div th:replace="fragments/menu :: tagmenu">  </div>
    <br/>
    <div class="container" id ="formAjoutUser">
      
  <form th:action="@{/vehicules/update/{id}(id=${vehicule.id})}" th:object="${vehicule}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <h2>Modifier un véhicule</h2>
  <br>
  Marque:
  <input type="text" th:field="*{marque}"/>
  <br/>
  Modele:
  <input type="text" th:field="*{modele}"/>
  <br/>
  Quantité:
  <input type="text" th:field="*{quantiteStock}"/>
  <br/>
  Prix:
  <input type="text" th:field="*{prix}"/>
  <br/>
  Prix facturé:
  <input type="text" th:field="*{prixFacture}"/>
  <br/>
  Couleur:
  <input type="text" th:field="*{couleur}"/>
  <br/>
  Etat:
  <label for="etatVehicule">Etat</label>
  <select id="etatVehicule" th:field="*{etatVehicule}">
    <option th:each="etatVehicule : ${T(fr.diginamic.appspring.enums.EtatVehicule).values()}"
            th:value="${etatVehicule}" th:text="${etatVehicule}"></option>
  </select>

  <!--    <input type="text" th:field="*{etatVehicule}"/>-->
  <br/>
  <button class="btn btn-warning" type="submit">Modifier le véhicule</button>
  <a class="btn btn-secondary" th:href="@{/vehicules/list}">Retour</a>

</form>
</div>
</body>
</html>