<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead"></head>
<body>
<div th:replace="fragments/menu :: tagmenu">  </div>
<br/>
<div class="container" id ="formAjoutUser">
    <h1>Ajout d'une pièce</h1>
    <form class="form-group" th:action="@{/pieces/add}" th:object="${pieceForm}" method="post">
        Nom:
        <input type="text" th:field="*{nomPiece}"/>
        <br/>
        <label for="type">Type :</label>
        <select class="form-control" id="type" th:field="*{type}">
            <option th:each="type : ${T(fr.diginamic.appspring.enums.TypePiece).values()}"
                    th:value="${type}" th:text="${type}"></option>
        </select>

        Prix:
        <input type="text" th:field="*{prix}"/>
        <br/>
        Prix facturé:
        <input type="text" th:field="*{prixFacture}"/>
        <br/>
        Quantité:
        <input type="text" th:field="*{quantiteStock}"/>
        <br/>


    <!--    <input type="text" th:field="*{etatPiece}"/>-->
        <br/>
        <input class="btn btn-success" type="submit" value="Create"/>
        <a class="btn btn-danger" th:href="@{/pieces/list}">Retour</a>
    </form>

</div>
</body>
</html>