<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>AJOUT TACHE</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container">
			<form class="" th:action="@{/entretien/create/{id}/ajout-tache(id=${fiche.id})}" th:object="${nouvelleTache}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<h2 class="">Ajout d'une tâche</h2>
				<p>
					<label for="reference" class="">Référence : </label>
					<span id="reference" th:text="${fiche.id}"></span>
				</p>
				
				<p>
					<label for="intitule" class="">Intitulé : </label>
					<input type="text" id="intitule" name="intitule" th:field=*{intitule} />
				</p>
				
				<p>
					<label for="type" class="">Type : </label>
					<select id="type" name="type" th:field="*{type}"> 
						<option th:each="t : ${types}" th:text="${t}" th:value="${t}"></option>
					</select>
				</p>
				
				
				<p>
					<label for="mecanos" class="">Assignation employé : </label>
					<select id="mecanos" name="mecanos" th:field="*{mecanicienAttribue}"> 
						<option th:each="m : ${mecanos}" th:text="${m.nom + ' ' + m.prenom}" th:value="${m.id}"></option>
					</select>
					<!--<a th:ref="@{}">Liste des mécaniciens</a>-->
				</p>
				  
				
				<p>
					<label for="priorite" class="">Type : </label>
					<select id="priorite" name="priorite" th:field="*{priorite}"> 
						<option th:each="prio : ${priorites}" th:text="${prio}" th:value="${prio}"></option>
					</select>
				</p>
				
				<p>
					<label for="pieces_necessaires" class="">Type : </label>
					<select id="pieces_necessaires" name="pieces_necessaires" th:field="*{piecesNecessaires}" multiple="multiple" size="1"> 
						<option th:each="p : ${pieces}" th:text="${p.nomPiece}" th:value="${p.id}"></option>
					</select>
				</p>
				<button class="btn btn-primary" type="submit">Ajouter la tâche</button>
				<a class="btn btn-primary" th:href="@{/entretien/create/{id}(id=${fiche.id})}">Retour à la fiche</a>
			</form>
		</div>
	</body>
</html>