<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head th:replace="fragments/header :: taghead"></head>
	<body>
		<div th:replace="fragments/menu :: tagmenu">  </div>
		<br/>
		<div class="container" id ="formAjoutUser">
			<form class="" th:action="@{/entretien/create}" th:object="${nouvelleFicheEntretien}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<h2 class="">Création d'une fiche d'entretien</h2>
				
				<p>
					<label for="client" class="">Client via AJAX : </label>
					<input type="text" id="rechercheClient"/>&nbsp;&nbsp;
					<span style="color:red" th:if="${#fields.hasErrors('client')}" th:errors="*{client}"></span><br/>
					<span id="clientsTrouves" th:field="*{client}"></span>
				</p>
				
				<p>
					<label for="date" class="">Date de création : </label>
					<input type="date" id="date" name="date" th:value="*{dateCreation}" th:field="*{dateCreation}"/>
				</p>
				
				<hr/>
				
				<h3 th:if="${taches.size()} > 0">Liste des tâches</h3>
				
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr th:if="${taches.size()} > 0">
							<th>N°</th><th>Intitulé</th><th>Type</th><th>Pièces nécessaires</th><th>Assignation</th><th>Priorité</th><th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="t : ${taches}">
							<td th:text="${t.id}"></td>
							<td th:text="${t.intitule}"></td>
							<td th:text="${t.getType().name()}"></td>
							<td><span th:each="pn : ${t.piecesNecessaires}"><span th:text="${pn.nomPiece}"></span><br/></span></td>
							<td th:text="${t.mecanicienAttribue.nom + ' ' + t.mecanicienAttribue.prenom}"></td>
							<td th:text="${t.getPriorite().name()}"></td>
							<td>
								<a class="btn btn-primary mb-2" href="#">Modifier</a>
								<a class="btn btn-danger mb-2" href="#">Supprimer</a>
							</td>
						</tr>
					</tbody>
				</table>
				
				<a  class="btn btn-warning" th:href="@{/entretien/create/ajout-tache}">Ajouter une tâche</a>
				<button class="btn btn-success" name="enregistrer" value="enregistrer" type="submit">Enregistrer la fiche</button>
				<a class="btn btn-danger" th:href="@{/entretien/list}">Retour</a>
			</form>
		</div>
		
	<script th:inline="javascript">
		(function() {
			var httpRequest;
			const source = document.getElementById("rechercheClient");
			const cible = document.getElementById("clientsTrouves");
			
			let myCallBack = () => {
				if(httpRequest.readyState === XMLHttpRequest.DONE) {
					if(httpRequest.status === 200) {
						const jsonResponse = JSON.parse(httpRequest.responseText);
						let clientResponse = "";
							
						jsonResponse.forEach(o => {
							if(o["nom"].toLowerCase().startsWith(source.value.toLowerCase())) {
								clientResponse += '<input type="radio" name="client" value="' + o["id"] + '" />' + o["nom"] + ' ' + o["prenom"] + '<br/>';
							}
						});
						
						cible.innerHTML = clientResponse;
					}	
				}	
			}
			
			let myKeyPress = () => {
				httpRequest = new XMLHttpRequest();
				httpRequest.onreadystatechange = myCallBack;
				httpRequest.open('GET', 'http://localhost:8090/rest/clients/all', true);
				
				httpRequest.send();
			}
			
			source.addEventListener("keypress", myKeyPress);
		})();
	</script>
	
	</body>
</html>