<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: taghead"></head>
<body>
    <div th:replace="fragments/menu :: tagmenu">  </div>
    <div class="container">
        <h1 th:text="${titre}"></h1>
        <hr/>
        <a class="btn btn-success mb-2 float-right" th:href="@{/entretien/create-init}">Créer une fiche d'entretien</a>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Référence</th>
                <th>Date création fiche</th>
                <th>Date de cloture</th>
                <th>Nb de taches</th>
                <!-- <th>Proportion effectuée</th> -->
                <th>Validité fiche</th>
                <th>Etat fiche</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Facture</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fiche: ${fiches}">
                <td th:text="${fiche.id}"></td>
                <td th:text="${fiche.dateCreation}"></td>
                <td th:text="${fiche.dateCloture}"></td>
                <td th:text="${fiche.taches.size()}"></td>
                <!-- <td>calcul proportion</td> -->
                <td>
                    <span th:if="${fiche.isValid}">Valide</span>
                    <span th:unless="${fiche.isValid}">Annulée</span>
                </td>
                <td>
                    <span th:if="${fiche.isCloture}">Cloturée</span>
                    <span th:if="${!fiche.isCloture} and ${fiche.isValid()}">Ouverte</span>
                </td>
                <td>
                    <a class="btn btn-primary mb-2" th:href="@{/entretien/{id}(id=${fiche.id})}">Accéder</a>
                </td>
                <td>
                    <a class="btn btn-warning mb-2" th:if="${fiche.isValid()}" th:href="@{/entretien/annuler-fiche/{id}(id=${fiche.id})}">Annuler fiche</a>
                </td>
                <td>
                    <a class="btn btn-danger mb-2" th:if="${!fiche.isCloture} and ${fiche.isValid()}" th:href="@{/entretien/cloturer/{id}(id=${fiche.id})}">Cloturer fiche</a>
                </td>
                <td>
                    <span th:if="${fiche.isCloture}"><a class="btn btn-primary mb-2" href="#">Facture</a></span>
                    <span th:unless="${fiche.isCloture}">Facure indisponible</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>