<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head th:replace="fragments/header :: taghead"></head>
	
	<body>
		<div th:replace="fragments/menu :: tagmenu"></div>
		<div class="container mt-4" id ="formAjoutUser">
			<form class="" 
				th:action="${creation} == true ? @{/entretien/create/ajout-tache} : @{/entretien/modification-fiche/{id}/ajout-tache(id=${id})}" 
				th:object="${nouvelleTache}" 
				method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<h2 class="">Ajout d'une tâche</h2>
				<p>
					<label for="intitule" class="">Intitulé : </label>
					<input type="text" id="intitule" name="intitule" th:field=*{intitule} />
				</p>
				
				<p>
					<label for="type" class="">Type : </label>
					<select id="type" name="type" th:field="*{type}"> 
						<option th:each="t : ${types}" th:text="${t}" th:value="${t}"></option>
					</select>
				</p>
				
				<p>
					<label for="mecanos" class="">Employé assigné : </label>
					<select id="mecanos" name="mecanos" th:field="*{mecanicienAttribue}"> 
						<option th:each="m : ${mecanos}" th:text="${m.nom + ' ' + m.prenom}" th:value="${m.id}"></option>
					</select>
				</p>

				<p>
					<label for="priorite" class="">Priorité : </label>
					<select id="priorite" name="priorite" th:field="*{priorite}"> 
						<option th:each="prio : ${priorites}" th:text="${prio}" th:value="${prio}"></option>
					</select>
				</p>
				
				<p>
					<label for="recherchePiece" class="">Rechercher une pièce : </label>
					<input type="text" id="recherchePiece"/><br/>
					<ul id="piecesTrouvees"></ul>
				</p>
				
				<fieldset id="fieldSetPiecesAjoutees" hidden>
					<legend>Pièce(s) nécessaire(s) à la tâche :</legend>
					<div id="piecesAjoutees"></div>
				</fieldset>
				
				<div class="mt-4 mb-4">
					<button class="btn btn-success" type="submit">Ajouter la tâche</button>
					<a class="btn btn-primary" th:href="${creation} == true ? @{/entretien/create} : @{/entretien/modification-fiche/{id}(id=${id})}">Retour à la fiche</a>
				</div>
			</form>
		</div>
		
		<script th:inline="javascript" src="/js/ajout_tache.js"></script>
		
	</body>
</html>
